@charset "utf-8";

$dcolor: #eee;

html {
    font-size: 14px;
}

body, section, header, footer, ul, li, p, div, form, input, label, button, span, a, h1, h2, h3, h4, h5, h6 ,dl, dt, dd{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
li {
    list-style-type: none;
}

body {
    font-family: "微软雅黑";
}
input,button {
    font-family: inherit;
    border: 0;
    outline: 0;
    background-color: #FFF;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 1rem;
}
